@model AuthenticationSystem.Domain.User.Users

@{
	ViewData["title"] = "تکمیل اطلاعات حساب کاربری";
}

<div class="card mb-5 mb-xl-8">
	<!--begin::Header-->
	<div class="card-header border-0 pt-5">
		<h3 class="card-title align-items-start flex-column">
			<span class="card-label fw-bold fs-3 mb-1">تکمیل اطلاعات حساب کاربری</span>
		</h3>
	</div>
	<!--end::Header-->
	<!--begin::Body-->
	<div class="card-body py-3">
		<div class="alert alert-warning text-center">
			<strong>کاربر گرامی، جهت ارسال درخواست اطلاعات کاربری خود را تکمیل کنید .</strong>
		</div>
		<!--begin:form-->
		<form id="kt_modal_new_target_form" class="form" method="post" asp-controller="User" asp-action="EditUserInfo">
			@Html.AntiForgeryToken()
			<input type="hidden" asp-for="Id"/>
			<!--begin::Heading-->
			<!--end::Heading-->
			<!--begin::Input group-->
			<div class="d-flex flex-column mb-8 fv-row">
				<!--begin::Tags-->
				<label class="d-flex align-items-center fs-6 fw-semibold mb-2">
					<span class="required">شماره همراه</span>
				</label>
				<!--end::Tags-->
				<input asp-for="PhoneNumber" required="" disabled="" type="text" class="form-control form-control-solid text-center" placeholder="شماره همراه">
			</div>

			<div class="d-flex flex-column mb-8 fv-row">
				<!--begin::Tags-->
				<label class="d-flex align-items-center fs-6 fw-semibold mb-2">
					<span class="required"> نام و نام خانوادگی</span>
				</label>
				<!--end::Tags-->
				<input asp-for="FullName" required="" type="text" class="form-control form-control-solid text-center" placeholder="نام و نام خانوادگی">
			</div>

			<div class="d-flex flex-column mb-8 fv-row">
				<!--begin::Tags-->
				<label class="d-flex align-items-center fs-6 fw-semibold mb-2">
					<span class="required">کد ملی</span>
				</label>
				<!--end::Tags-->
				<input maxlength="10" asp-for="NationalCode" required="" type="text" class="form-control form-control-solid text-center" placeholder="کد ملی">
			</div>

			<div class="d-flex flex-column mb-8 fv-row">
				<!--begin::Tags-->
				<label class="d-flex align-items-center fs-6 fw-semibold mb-2">
					<span class="required"> نام پدر</span>
				</label>
				<!--end::Tags-->
				<input asp-for="FatherName" required="" type="text" class="form-control form-control-solid text-center" placeholder="نام پدر">
			</div>
			<!--end::Input group-->
			<!--begin::Actions-->
			<Modal-Buttons></Modal-Buttons>
			<!--end::Actions-->
		</form>
		<!--end:form-->
	</div>
	<!--begin::Body-->
</div>
